# Java / Maven
target/
*.class
*.log
*.war
*.jar
*.iml
.idea/
.gradle/
.build/

# Eclipse
.project
.classpath
.settings/

# IntelliJ
*.iml
.idea/
out/

# VS Code
.vscode/

# Node
node_modules/
build/
dist/
.env
npm-debug.log
package-lock.json

# OS files
.DS_Store
Thumbs.db
